.env
.env.local
.env.vercel
.env.vercel.*
node_modules
.next
npm-debug.log
.DS_Store
package-lock.json
.vercel
.env*.local
.swc
*.tsbuildinfo
*.bak
coverage/
coverage-report.txt
playwright-report/
test-results/

*storybook.log
storybook-static